<html>
  <body>
    <p>Gostaríamos de lembrar sobre o pagamento pendente da Ordem de Serviço
      {{osNumber}}, referente ao serviço prestado.</p>
    <p>Até o momento, não registramos o recebimento do pagamento correspondente
      ao boleto com vencimento em
      {{dueDateDaysAfterMaturity}}.</p>
    <p>Por favor, verifique o anexo para localizá-lo. Em caso de dúvidas ou
      dificuldades, estamos à disposição para ajudar.</p>
    <p>Entendemos que imprevistos podem acontecer, no entanto, gostaríamos de
      destacar que, em nossa próxima geração de boletos, poderá ser aplicada uma
      taxa ou juros em caso de atraso no pagamento. Nossa intenção é manter
      nossa relação transparente e justa, incentivando o cumprimento dos prazos
      estabelecidos.</p>
    <p>Caso o boleto já estiver pago, por favor desconsiderar esse e-mail.</p>
    <p>Atenciosamente.</p>
    <img src='cid:unique@nodemailer.com' alt='GIF' width='135' />
  </body>
</html>