<html>
  <body>
    <p>Gostaríamos de lembrá-lo que o boleto referente ao seu pagamento vencerá
      após 3 dias do envio deste email. Para sua comodidade, estamos enviando o
      boleto em anexo a este email.</p>
    <p>Por favor, verifique o anexo ou a seção de downloads para localizá-lo. Em
      caso de dúvidas ou dificuldades, estamos à disposição para ajudá-lo.</p>
    <p>Agradecemos sua atenção e pontualidade. Qualquer dúvida, estamos à
      disposição.</p>
    <p>Caso o boleto já estiver pago, por favor desconsiderar esse e-mail.</p>
    <p>Atenciosamente.</p>
    <img src='cid:unique@nodemailer.com' alt='GIF' width='135' />
  </body>
</html>